* {
    box-sizing: border-box;
    // outline: 1px solid red;

}

.container {
    width: 1296px;
    margin: 0 auto;
}

.navBar {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            display: block;
            text-decoration: none;
            color: white;

            &:hover {
                transform: scale(1.5);
            }
        }
    }
}

.william {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .william-img {
        width: 636px;
        height: 992px;
        margin-right: 24px;

        img {
            padding: 72px 0;
        }
    }

    .william-job {
        width: 636px;

        p {
            color: white;
            font-size: 64px;
        }

        h1 {
            text-align: right;
            font-size: 128px;
            color: #00FFA3
        }

        span {
            font-size: 100px;
        }

        .contact-me {
            width: 185px;
            margin-left: auto;
            border-radius: 32px;

            padding: 12px 0px 12px 24px;
            background: white;

            a {
                text-decoration: none;
                text-align: center;
                font-size: 16px;
                color: black;
                &:hover {
                    color: red;

                    
                }
            }

            img{
                width: 24px;
                height: 24px;
                vertical-align: middle;
            }
        }

    }

}

.bg-cover {

    margin: 0 auto;
    background-image: url(../img/background-img.png);

    .introduction {
        display: flex;
        padding: 160px 0;

        .section-left {
            width: 526px;

            h2 {

                color: white;
            }

            span {
                font-size: 54px;
            }

            p {
                color: white;
                margin-bottom: 32px;

            }

            // .sparkle-box{
            //     // width: 128px;
            // }
        }
    }

}


.about{
    display: flex;
    justify-content: space-between;

    .card-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 636px;
        margin: 206px 0px;
        .card p{
            margin-bottom: 4px;
            &:last-child{
                margin-bottom: 0px;
            }
            
        }
    }

    .about-me{
        width: 526px;
        padding-top: 160px;
        margin-bottom: 160px;

    }

}

.contact-me{
    display: flex;
    justify-content: space-between;
    align-content: center;
    h2{
        color: white;
    }

    .content{
        display: flex;
        align-items: center;
        margin-right: 113px;
        padding: 127px 0 ;
        .arrow{
            display: block;
            width: 100px;
            height: 100px;
        }
    }

    .icon-box{
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        padding: 96px 0 96px 0;
        .discord, .ig, .message{
            display: block;
            width: 162px;
            height: 162px;
            &:hover{
                transform: scale(1.3);
            }
        }
    
        .discord, .ig{
            margin-right: 20px;
        }
    }
    

}

.my-projects{

    h2{
        padding-top: 160px;
        width: 746px;
        margin-left: auto;
        margin-bottom: 16px;
    }
    .box{
        display: flex;
        margin-bottom: 160px;
        .left-side{
            img{
                max-width: 416px;
                height: 530px;
            }
            
            
        }
    
        .right-side{
            .img-and-text{
                display: flex;
                margin-bottom: 28px;
                .text-n-btn{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .btn{
                        width: 185px;
                        margin-right: auto;
                        border-radius: 32px;
                        padding: 12px 0px 12px 24px;
                        background: black;
            
                        a {
                            text-decoration: none;
                            text-align: center;
                            font-size: 16px;
                            color: white;
                            &:hover {
                                color: red;
            
                                
                            }
                        }
            
                        img{
                            width: 24px;
                            height: 24px;
                            vertical-align: middle;
                            filter: invert(99%) sepia(71%) saturate(2%) hue-rotate(69deg) brightness(110%) contrast(100%);

                        }
                    }
                }

                
            }

            .only-img{
                .rec-14{
                    width: 306px;
                    height: 306px;
                    margin-right: 15px;
                }

                .rec-29{
                    width: 526px;
                    height: 306px;
                }
            }
        
    
        }
    }
    
}

.footer{
    padding: 40px 0;
    p{
        color: white;
        text-align: center;
    }
}