// right //
.mr-16{
    margin-right: 16px;
}

.mr-24{
    margin-right: 24px;
}

.mr-61{
    margin-right: 61px;
}


// bottom //
.mb-4{
    margin-bottom: 4px;
}

.mb-24{
    margin-bottom: 24px;
}


.mb-36{
    margin-bottom: 36px;
}
