@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Pacifico&family=Roboto:ital,wght@1,400;1,500;1,700;1,900&display=swap');

.text-xs{
    font-size: 16px;
}

.text-s{
    font-size: 20px;
}

.text-m{
    font-size: 24px;
}

.text-l{
    font-size: 64px;
}